@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1{
  font-size: 4rem;
  color: #fff;
}

h2{
  font-size: 3rem;
  color:  #fff;
}

h3{
  font-size: 1.4rem;
  color:  #fff;
}

p{
  color: #999;
}

img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover;
}

/* scrollToTopBtn */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  color: #1f1f1f;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bolder;
}



/* hero background image */
.bgimage {
  height:100vh;
  /*background: url('images);*/
  background-size:cover;
  position:relative;

  /* background: linear-gradient(300deg, #1A1F1F, #1C1F1E, #1f1f1f);
  background-size: 180% 180%;
  animation: gradient-animation 10s ease infinite; */
}

/* text css above hero image*/
.hero_title {
  font-size: 4.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


/* ################################ */

body {
  /* background-color: #1f1f1f; */
  background: linear-gradient(300deg, #121014, #1C1F1E, #1f1f1f);
  background-size: 180% 180%;
  animation: gradient-animation 9s ease infinite;

}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
}


.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #27e187;
  z-index: 10;
  &--top {
    position: fixed;
    top: 0;
}
}
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 1rem;
  font-weight: bold;
}
.et-hero-tab:hover {
  color: white;
  background: rgba(14, 48, 24, 0.8);
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #fff;
  transition: left 0.3s ease;
}


/* MAIN UNDER first page (burger) */

.container{
  padding: 5rem;
}

.container_fix{
  padding: 2rem;
}

.main{
  max-width: 1300px;
  margin: auto;
  padding: 0, 1rem;
  display: flex;
}

.main--content{
  width: 100%;
}

.top--title{
  color: #fff;
  text-transform: uppercase;
  font-size: .8rem;
  padding: 5px 16px;
  border: 1px solid #565656;
  width: fit-content;
  border-radius: 2rem;
}

.title{
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.title span{
  color: #27e187;
}

.btn{
  padding: 8px 18px;
  background-color: #27e187;
  border-radius: 2rem;
  text-align: center;
  font-weight: bold;
  color: #1f1f1f;
  border: 2px solid #27e187;
  padding: 8px;
}

.btn:hover{
  background-color: #1f1f1f;
  color: #27e187;
  transition: 0.3s;
}

.btn a{
  text-decoration: none;
  color: #fff;
  display: contents;
  cursor: pointer;

}

.btn a:hover{
  text-decoration: none;
  color: #27e187;
  display: contents;
}

.btn--line{
  padding: 8px 18px;
  border-radius: 2rem;
  text-align: center;
  font-weight: bold;
  border: 2px solid #565656;
  color: #999;
}

.btn--line:hover{
  background-color: #27e187;
  border-color: #27e187;
  color: #1f1f1f;
  transition: 0.3s;
}

.btn--line a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.btn--line a:hover{
  text-decoration: none;
  color: #1f1f1f;
}



/* sidemanu */

.sidemenu{
  position: absolute;
  /* text-align: center; */
  height: 100vh;
  min-width: 340px;
  max-width: 350px;
  border-right: 1px solid #565656;
  border-left: 1px solid #565656;
  padding: 2rem;
  position:sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidemenu .btn{
  margin-top: 2rem;
}

.sidemenu .btn--line{
  margin-top: 1rem;
}

.avatar--cover{
  position: relative;
  height: 290px;
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  /*filter: grayscale(100%);*/
}

.name{
  margin-top: 2rem;
  text-align: center;
}

.position{
  margin-top: 2rem;
  text-align: center;
}

.social--icons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.6rem;
}

.social--icon{
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid #565656;
  font-size: 1.2rem;
  color: #999;
}

.social--icon:hover {
  color: #27e187;
  border-color: #27e187;
  transition: 0.3s;
}

/* intro */
.intro h1{
  margin-top: 2rem;
}

.intro p{
  margin-top: 2rem;
}

.intro h1 span{
  color: #27e187;
}

.intro--flex--container{
  display: flex;
  align-items: center;
  gap: 3rem;
}

.intro--flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.intro--flex h1{
  color: #27e187;
}


/* about */

.about .title{
  margin-top: 2rem;
  margin-bottom: 2rem;
}


/* resume */
.experience{
  padding-left: 2rem;
  border-left: 1px solid #303030;
  padding-bottom: 3rem;
  position: relative;
}

.experience:last-child{
  padding-bottom: 0;
}

.date{
  padding-bottom: 0.5rem;
}

.school{
  font-size: .95rem;
  margin-top: 0.4rem;
}

.circle{
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background-color: #565656;
  top: 4px;
  left: -8px;
}

/* services */
.services{
  display: grid;
  gap: 2rem;
}

.service{
  padding: 2rem;
  border: 1px solid #565656;
  border-radius: 1rem;
}

#listProject{
  text-indent: 1.2rem;
}
#listProjectTop{
  padding-bottom: 5px;
}

#service_2{
  margin-top: 2rem;
}

.project{
  color: #1f1f1f;
  margin-top: 1.5rem;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: #27e187;
  border: 1px solid #565656;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
}

.project:hover{
  color: #fff;
  margin-top: 1.5rem;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: #000;
  border: 1px solid #565656;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
}


/* skill */
#topic-skill1{
  margin-bottom: 2rem;
}
.topic-skill2{
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

.skills{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 2rem;
}

.skill{
  border: 2px solid #565656;
  display: flex;
  flex-direction: column ;
  align-items: center;
  gap: 1.5rem;
  padding-block: 2.5rem;
  border-radius: 5rem;
}

.skill--img--cover{
  position: relative;
  height: 5rem;
  width: 5rem;
}

.skill h3{
  color: #27e187;
}

.skills p{
  color: #fff;
  text-align: center;
  margin-top: 1rem;
}


/* portfolio */

.portfolio--cards{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  
}

.full--cover{
  position: relative;
  height: 275px;
  overflow: hidden;
  border-radius: 1rem;
}

.chips{
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
}

.chip{
  padding: 5px 16px;
  background-color: #303030;
  border-radius: 2rem;
  font-size: 0.8rem;
  color: #fff;
}

/* contact */
.contact{
  height: auto;
}

.contact--cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.contact--card{
  border: 2px solid #565656;
  padding: 1rem;
  border-radius: 1rem;
}

.contact--card p{
  text-shadow: #565656;
}

.contact--card i{
  font-size: 2rem;
  color: #27e187;
  margin-bottom: 1rem;
  display: inline-block;
}

/* thanks */
.thanks{
  text-align: center;
  padding-top: 60px ;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
/* #thank_fix{
  padding: 0;
  margin: 0;
} */

/* footer */

.footer1{
  justify-content: center;
  padding: 15px;
  display: flex;
  background-color: #27e187

}


/* responsive */

@media(max-width:1100px){
  .main{
      padding: 0;
      display: block;
  }

  .sidemenu{
      position: relative;
      margin: auto;
      border-right: none;
      border-left: none;
      padding: 1rem;
  }

  .avatar--cover{
      position: relative;
      height: 310px;
      width: 100%;
      overflow: hidden;
      border-radius: 1rem;
  }
  .btn a[title="CONTACT ME"]{
    text-decoration: none;
    color: #1f1f1f;
    display: contents;
    cursor: pointer;
  
  }
  
  .btn a:hover{
    text-decoration: none;
    color: #27e187;
    display: contents;
  }
  .btn--line a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
  
  .btn--line a:hover{
    text-decoration: none;
    color: #1f1f1f;
  }
}

@media (min-width: 0px) and (max-width: 810px) {
  .contact--cards {
    grid-template-columns: repeat(2, 1fr);
  }
}



@media(max-width:720px){
  h1{
      font-size: 3rem;
  }

  h2{
      font-size: 2rem;
  }

  h3{
      font-size: 1.3rem;
  }

  .container{
      padding: 2rem;
  }

  .skills{
      grid-template-columns: repeat(2, 1fr);
  }

  .contact--cards{
      grid-template-columns: repeat(1, 1fr);
  }

  .portfolio--cards{
      grid-template-columns: repeat(1, 1fr);
  }

  .intro--flex--container{
      flex-direction: column;
      align-items: start;
      gap: 0;
      margin-top: 1rem;
  }

  .intro--flex--container h1,
  .intro--flex--container p{
      margin-top: 0;
  }

  .avatar--cover{
      position: relative;
      height: 340px;
      width: 100%;
      overflow: hidden;
      border-radius: 1rem;
  }

  .et-hero-tab {
    font-size: 0.8rem;
    font-weight: bold;
  }
  .btn a{
    text-decoration: none;
    color: #fff;
    display: contents;
    cursor: pointer;
  
  }
  
  .btn a:hover{
    text-decoration: none;
    color: #27e187;
    display: contents;
  }
  .btn--line a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
  
  .btn--line a:hover{
    text-decoration: none;
    color: #1f1f1f;
  }

  .project{
    font-size: 1.1rem;
  }
  .project:hover{
    font-size: 1.1rem;
  }
  .sidemenu{
    width: 100vw;
    height: 100vh;
  }

}

@media(max-width:550px){
  .et-hero-tabs , .et-hero-tab{
    visibility: hidden;
    display: none;
  }
  #scrollToTopBtn{
    right: 40px;
    bottom: 40px;
  }

}

@media(max-width:500px){
  body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  h1{
      font-size: 1.9rem;
  }

  h2{
      font-size: 1.5rem;
  }

  h3{
      font-size: 1.3rem;
  }
  .container{
      padding: 1rem;
      padding-block: 2.5rem;
  }

  .avatar--cover{
      position: relative;
      height: 310px;
      width: 100%;
      overflow: hidden;
      border-radius: 1rem;
  }
  .btn a{
    text-decoration: none;
    color: #fff;
    display: contents;
    cursor: pointer;
  
  }
  
  .btn a:hover{
    text-decoration: none;
    color: #27e187;
    display: contents;
  }
  .btn--line a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
  
  .btn--line a:hover{
    text-decoration: none;
    color: #1f1f1f;
  }

  .et-hero-tabs{
    display:flex;
  }

  #scrollToTopBtn{
    right: 40px;
    bottom: 40px;
  }

}

@media (max-width:310px){
  .sidemenu{
    width: 200px;
  }
}

/* Iphone XS only */
@media only screen
  and (device-width : 375px)
  and (device-height : 812px)
  and (-webkit-device-pixel-ratio : 3)
  and (orientation : portrait)
  {
    .sidemenu{
      width: 100vw;
      height: 100vh;
    }
    #scrollToTopBtn{
      right: 40px;
      bottom: 40px;
    }
}

@media (min-width:2200px){
  .sidemenu{
    width: 400px;
    height: 80vh;
  }
}


/*under page2*/

.chageColor{
  color:#1f1f1f;
  background-color: #FFD300;
}

.chageColor:hover{
  border-color: #27e187;
}


